*{	margin: 0;	padding: 0;	box-sizing: border-box;}
body{	height: 100vh; }
.authorization_div_main{	max-width: 30%;	display: flex;	align-items: center;	justify-content: center;	border: 1px solid rgba(38, 38, 38, 0.2);	padding: 20px;	border-radius: 6px;	-webkit-box-shadow: 0px 0px 15px -1px rgba(34, 60, 80, 0.05) inset;	-moz-box-shadow: 0px 0px 15px -1px rgba(34, 60, 80, 0.05) inset;	box-shadow: 0px 0px 15px -1px rgba(34, 60, 80, 0.05) inset;}
.authorization_input{	outline: none;}
.btn_border {	border: 1px solid rgba(38, 38, 38, 0.2);	float: right;}.msg_form {	color: rgba(128, 0, 0, 1);;	padding: 2%;	text-align: center;	text-transform: uppercase;	background-color: rgba(222, 55, 55, 0.3);}
form label {	margin-bottom: 20px;	text-align: center;}.footer {	background-color: rgba(64, 64, 64, 0.6);	min-height: 30px;	display: block;	margin-top: auto;}
.page {	overflow: hidden;	display: flex;	flex-direction: column;	min-height: 100vh;	width: 100%;}.header {	background-color: rgba(250, 250, 250, 1);	min-height: 50px;	display: block;	padding: 10px 20px;}
.footer__content {	margin: 0 auto;	width: 60%;	padding: 10px 20px;	line-height: 1;}
.main__page__content {	margin: 0 auto;	width: 70%;	border: 1px solid black;}
.head_main_page {	width: 100%;}
.photo_prof {	display: inline-block;	border: 1px solid black;	width: 260px;	height: 350px;	width: 30%;}
.info_prof {	width: 60%;	border: 1px solid black;	display: inline-block;	vertical-align: center;	text-align: center;}
.warning {
    padding: 5px;
    background-color: #ECD5D8;
    color: #BC2A4D;
}